---
function input(){
  return {
    content: '',
    valueAsNumber(){
      return this.content.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    updateContent(event:any) {
      this.content = event.target.value.replace(/,/g, '');
      event.target.value = this.valueAsNumber();
    }
  }
}
---
<label class="label-wrapper">
  <p class="label">{Astro.props.label}</p>
  <div class="input-wrapper">
    {Astro.props.price ? <span class="price">$</span> : <></>}
    <input {...Astro.props} x-data={input} x-model="content" x-on:input="updateContent" class="input">
  </div>
</label>
<style>
  .label {
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }
  .input-wrapper {
    display: flex;
    border-radius: 0.5rem;
    align-items: center;
    position: relative;
    justify-content: center;
  }
  .price {
    color: var(--color-neutral-dark);
    padding: 1rem;
    position: absolute;
    left: 0;
  }
  .cents {
    color: var(--color-neutral-dark);
    padding: 1rem;
    position: absolute;
    right: 0;
  }
  .input {
    width: 100%;
    text-align: right;
    background-color: white;
    border: none;
    font-size: 16px;
    padding: 0.8rem;
    border-radius: 0.5rem;
    color: var(--color-neutral-dark);
    font-family: var(--font-family);
  }

  @media screen and (min-width: 768px) {
    .input-wrapper {
      justify-content: start;
    }
  }
</style>