

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
		:root {
			--orange-dark: #E66414;
			--orange-default: #FF924D;
			--orange-light: #F6C9B1;
			
			--teal-dark: #05454B;
			--teal-default: #00A8A8;
			--teal-light: #9AD3DA;
			
			--neutral-dark: #020000;
			--neutral-default: #FFFAF3;
			--neutral-light: #FFFFFF;
		}
		
		*,*::before,*::after {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		
		html {
			font-size: 16px;
		}
		
		body {
			background-color: var(--neutral-default);
			color: var(--teal-dark);
			font-family: 'Lexend Deca', serif;
		}

		
::-webkit-inner-spin-button
		{ 
			display: none; 
		} 
