:root {
  --color-orange-dark: #E66414;
  --color-orange-default: #FF924D;
  --color-orange-light: #F6C9B1;
  --color-orange-gradient: linear-gradient(var(--color-orange-dark), var(--color-orange-default));
  
  --color-teal-dark: #05454B;
  --color-teal-default: #00A8A8;
  --color-teal-light: #9AD3DA;
  
  --color-neutral-dark: #020000;
  --color-neutral-default: #FFFAF3;
  --color-neutral-light: #FFFFFF;
}
