---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import familyCalculator from '../utils/FamilyCalculator';
import MultiFamilyAccordion from '../components/MultiFamilyAccordion.astro';
import SingleFamilyAccordion from '../components/SingleFamilyAccordion.astro';
---

<Layout>
    <Container>
        <div class="layout" x-data={familyCalculator}>
            <div class="col">
                <div class="subcol">
                    <a class="link" href="/family-questionnaire">← GO BACK</a>
                    <div class="title-wrapper">
                        <p class="title">
                            Here is your Current Portfolio VS. Multifamily
                            Passive Investment Portfolio
                        </p>
                    </div>
                </div>
            </div>
            <div class="float">
                <SingleFamilyAccordion
                    title="Current Portfolio Approximate Return"
                />
                <MultiFamilyAccordion
                    title="Multifamily Passive Investment Portfolio"
                />
            </div>
        </div>
    </Container>
</Layout>
<style lang="scss">
    .float {
        height: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        z-index: 9999;
        
        @media (max-width: 992px) {
            height: fit-content;
            grid-template-columns: 1fr ;
        }
    }
    .form-wrapper {
        display: flex;
        align-items: center;
        justify-content: start;
        z-index: 1;
        animation: var(--animation-grow-strong);
    }
    .layout {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 2rem;
        flex-grow: 1;
        @media (max-width: 1200px) {
            display: flex;
            flex-direction: column;
        }
    }
    .link {
        color: var(--color-teal-default);
    }
    .title-wrapper {
        z-index: 2;
    }
    .title {
        font-weight: 400;
        font-size: 2rem;
    }
    .title span {
        color: var(--color-orange-default);
    }
    .eyebrow {
        color: var(--color-orange-dark);
        text-transform: uppercase;
        font-size: 1rem;
        margin: 1rem 0;
    }
    .col {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        grid-row-start: 1;
        grid-row-end: 3;
        @media (max-width: 1200px) {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
    .subcol {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
</style>
