---
import Layout from '../layouts/Layout.astro';
import Step from '../components/form/Step.astro';
import Input from '../components/form/Input.astro';
import Form from '../components/form/Form.astro';
import Slider from '../components/form/Slider.astro';
import Button from '../components/form/Button.astro';
import Container from '../components/Container.astro';
import Background from '../components/form/Background.astro';
---

<Layout>
	<Container>
		<div class="layout">
			<h1 class="title">Let’s Build Your Blueprint to to Long Term Wealth and Passive Income</h1>
			<div class="form-wrapper">
				<Background/>
				<Form>
					<Slider>
						<Step title="New Investments" step={1}>
							<Input style={{
								paddingRight: '2.5rem'
							}} price x-mask:dynamic="$money($input)" type="text" label="Amount of investment per deal" x-model={"value.newInvestments"} name="newInvestments" required/>
							<div class="button-wrapper">
								<Button type="submit">Next</Button>
							</div>
						</Step>
						<Step title="Number of Investments" step={2}>
							<Input type="number" step="1" label="Number of Investments Per Year" x-model={"value.numberOfInvestments"} name="numberOfInvestments" required/>
							<div class="button-wrapper">
								<Button class="button is-secondary" @click="--step">Back</Button>
								<Button type="submit">Next</Button>
							</div>
						</Step>
					</Slider>
				</Form>
			</div>
		</div>
	</Container>
</Layout>

<style lang="scss">
	.title {
		max-width: 40%;
		@media (max-width: 767px) {
			max-width: 100%;
		}
	}

	.layout {
		flex-grow: 1;
		display: flex;
		padding-top: 10rem;
		align-items: start;
		justify-content: center;
		gap: 2rem;

		@media (max-width: 767px) {
			padding-top: 0;
			flex-direction: column;
			align-items: center;
			text-align: center;
			justify-content: start;
			gap: 10rem;
			margin-top: 5rem;
		}
	}

	.form-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		animation: var(--animation-grow);
	}
</style>