---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import calculator from "../utils/Calculator";
import Form from '../components/form/Form.astro';
import Input from '../components/form/Input.astro';
import Accordion from '../components/Accordion.astro';
import PriceBars from '../components/PriceBars.astro';
---

<Layout>
  <Container>    
    <div class="layout" x-data={calculator}>
      <div class="col">
        <div class="subcol">
          <a class="link" href="/">← GO BACK</a>
          <div class="title-wrapper">
            <p class="title">
              Here is your Blueprint based on the amount of investment per deal and the number of investments per year below
            </p>
          </div>
        </div>
        <div class="form-wrapper">
          <Form>
            <Input 
            style={{
              paddingRight: '2.5rem'
            }} price x-mask:dynamic="$money($input)" type="text" label="Amount of Investment per deal" x-model={"newInvestments"} name="newInvestments" required/>
            <Input type="number" step="1" label="Number of Investments Per Year" x-model={"numberOfInvestments"} name="numberOfInvestments" required/>
          </Form>
        </div>
      </div>
      <!-- 
      <Accordion title="Total Invested" data="totalInvested" color="var(--teal-dark)"/>
      -->
      <Accordion title="Approximate Monthly Cashflow" data="cashFlow" color="var(--teal-dark)"/>
      <PriceBars/>
    </div>
  </Container>
</Layout>


<style lang="scss">
  
  .form-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 1;
    animation: var(--animation-grow-strong);
  }
  
  .layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    gap: 2rem;
    flex-grow: 1;

    @media (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }
  }
  
  .link {
    color: var(--color-teal-default);
  }
  
  .title-wrapper {
    z-index: 2;
  }
  
  .title {
    font-weight: 400;
    font-size: 2rem; 
  }
  
  .title span {
    color: var(--color-orange-default);
  }
  
  .eyebrow {
    color: var(--color-orange-dark);
    text-transform: uppercase;
    font-size: 1rem;
    margin: 1rem 0;
  }
  
  .col {
    display: flex;
    flex-direction: column;
    gap: 4rem ;

    grid-row-start: 1;
    grid-row-end: 3;

    
    @media (max-width: 1200px) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

  }
  
  .subcol {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
</style>