<div class="container" {...Astro.props}>
  <slot/>
</div>

<style lang="scss">
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1440px;
    margin: auto;
    position: relative;
    gap: 2rem;
    @media (max-width: 767px) {
      padding: 1rem;
    }
  }
</style>