<div class="form-wrapper">
  <div class="background">
    <img class="image-blob" src="/blob.svg" alt="">
    <img class="image-dots" src="/dots.svg" alt="">
  </div>    
  <div class="card">
    <form {...Astro.props} class="form">
      <slot/>
    </div>
  </div>
</div>

<style>
  .background {
  position: absolute;
  width: 32rem;
  height: 30rem;
  z-index: -1;
  overflow: hidden;
}

.image-blob {
  position: absolute;
  right: 0%;
  top: 0%;
  width: 20rem;
}

.image-dots {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10rem;
}

.card {
  background-color: var(--teal-dark);
  width: 25rem;
  color: var(--neutral-light);
  padding: 32px;
  border-radius: 1rem;
}

.form {
  align-self: center;
  justify-self: center;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form.form--results {
  padding: 0;
  border-radius: 0;
  background-color: 0;
}


.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}


</style>
  