<div class="price-scroll">
  <div class="price-bar-group">
    <template x-for="(year, i) in selectedYears">
      <div class="price-bar-wrapper">
        <div class="price-bar" :style="{'--value': year.cashFlow, '--maxValue': 1000000}">
          <div class="popup">
            <span x-text="toSpecialNotation(year.cashFlow)"></span>            
          </div>
        </div>
        <div>Year</div>
        <div style="opacity: 0.5" x-text="year.number"></div>
      </div>
    </template>
    
  </div>
</div>

<style>
  .price-scroll {
    overflow-x: scroll;
  }

  .year-number {
    width: 100%;
    text-align: center;
  }
  
  .popup {
    position: absolute;
    top: -5rem;
    display: none;
    z-index: 9;
    padding: 1rem;
    padding-bottom: 3rem;
    color: var(--color-teal-dark);
    background: url('/balloon.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    text-wrap: nowrap;
  }

  .price-bar-wrapper {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  
  .price {
    display: flex;
    justify-content: space-between;
  }
  
  @keyframes grow-bar {
    from: {
      height: 0%
    } to {
      height: 550px;
    }
  }
  
  .price-bar-group {
    display: flex;
    gap: 1rem;
    height: 0px;
    position: absolute;
    left: auto;
    right: 0;
    bottom: 0;
    pointer-events: none;
    animation: grow-bar 1s ease-in-out forwards;
    background: url('./lines.svg');
    background-size: auto;
    background-position: center -0.6rem;
    background-repeat: no-repeat;
    width: fit-content;
    justify-content: end;
    padding: 2rem;
    
    @media (max-width: 1200px) {
      position: static;
      max-height: 20rem;      
    }
  }
  
  .price-bar-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: relative;
  }
  
  .price-bar:hover .popup {
    display: block;
  }
  
  .price-bar:hover {
    background-color: var(--color-orange-default);
  }
  
  .price-bar {
    --value: 1000;
    --maxValue: 2000;
    --percent: calc(var(--value) / var(--maxValue));
    height: calc(100% * var(--percent));
    width: 2.5rem;
    background-color: var(--color-orange-dark);
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 0 0.5rem;
    position: relative;
    pointer-events: all;
    border-radius: 0.5rem 0.5rem 0 0;
    transition: var(--transition);
  }
</style>