---
import Siteblocker from "../components/Siteblocker.astro"
import "../styles/global.scss"
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!-- Alpine Plugins -->
	<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js"></script>	
	<!-- Alpine Core -->
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>  
	<slot/>
 <script>
      function sendHeight() {
        const height = document.documentElement.scrollHeight;
        window.parent.postMessage({ type: "setHeight", height: height }, "*");
      }

      window.addEventListener("load", sendHeight);
      window.addEventListener("resize", sendHeight);
      setInterval(sendHeight, 500); // fallback for dynamic content
    </script>
</body>
</html>
